---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---
<section class="vf-intro | embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
        <h1 class="vf-intro__heading vf-intro__heading--has-tag">[firstname] [surname] <a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>
     <article class="vf-summary | vf-summary--profile vf-summary--profile-l" data-embl-js-conditional-edit="6101">
              <img class="vf-summary__image vf-summary__image--avatar" src="https://dev.assets.emblstatic.net/vf/v2.0.0-alpha.6/assets/vf-summary/assets/vf-icon--avatar.svg" alt="image of Martina Dees">
      <h3 class="vf-summary__title">Press Officer</h3>
              <p class="vf-summary__text">Martina Dees</p>
      <p class="vf-summary__email">
        <a href="mailto:martina.dees@embl.de" class="vf-summary__link vf-summary__link--secondary">martina.dees@embl.de</a>
      </p>
      </article>
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <h1 class="vf-text vf-text-heading--3">Publications</h1>
    </div>
    <div>
    List here
    </div>
    </section>